*{
  font-family: "Segoe UI";
}

hr {
  border-top: 1px solid #383f4f;
}

td:last-child, #hovered{
  word-break: break-all;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #ffee6e ;
  color: #222d32;
  height: 30px;
  width: 100%;
  margin-left: -15px;
	font-size: 18px;
}

caption{
  text-align: center;
  font-size: 20px;
  background-color: #2998b1;
  color: white;
}

[class*="fillAlternating-upset"] {
  fill: rgba(0, 0, 0, 0.05) !important;
}

[class*="fillNotMember-upset"] {
  fill: rgba(0, 0, 0, 0.05) !important;
}

.modal-content {
  border-radius: 25px;
  text-align: center;
}

.datatables {
  margin-top: 15px;
}

.dataTable > caption {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;;
}

.logo{
  height: 90px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  background-color: #ffee6e  !important;
}

.navbar{
  background-color: #ffee6e  !important;
}

.sidebar-menu{
  padding-top: 60px;
}

.sidebar-toggle{
  color: #222d32 !important;
  height: 90px !important;
  padding-top: 35px !important;
}

.sidebar-toggle:hover{
  background-color: #fffef0 !important;
}

.content-wrapper{
  background-color: #fffef0;
}

.btn-submit, .btn-submit:hover, .btn-submit:focus{
  color: #fff;
  background-color: #ff9d00;
}

.btn-submit:active{
  color: #fff !important;
  background-color: #ff9d00 !important;
}

.dt-buttons{
  padding-left: 10px;
  top: -5px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
  z-index: 1000;
  display: none;
}

.arena_button {
  background-color: white !important;
  height: 45px;
  width: 100%;
  max-width: 300px;
  text-align: right;
  background: url(../arena-logo.png) no-repeat 0;
}
.arena_button:focus, .arena_button:hover {
  background-color: #e6e6e6 !important;
}

.box {
  border-radius: 25px
}

.box-header {
  border-radius: 25px
}

.box-title {
  font-weight: bold;
}

.legend {
  font-size: 18px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.enrichmentResultsDiv {
  border: 1px solid FireBrick;
  border-top: none;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 5px;
}

#textSubmit, #rename{
  color: #fff;
  background-color: #158794;
}

#remove, #clear{
  color: #fff;
  background-color: #eb4310;
}

#stringEmbedded{
  overflow-x: auto;
  overflow-y: auto;
}

#functional_barchart, #literature_barchart,
#functional_heatmap1, #functional_heatmap2, #functional_heatmap3,
#literature_heatmap1, #literature_heatmap2, #literature_heatmap3{
  height: auto !important;
}

#functional_heatmap1_axis, #literature_heatmap1_axis {
  margin-top: -30px;
}

@media only screen and (max-width: 770px) {
  .sidebar-menu, .content-wrapper {
    padding-top: 100px;
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.content{
  padding-bottom: 50px;
}

.box.box-solid.box-primary>.box-header {
  color:#ffffff;
  background:#2998b1;
                    }

.box.box-solid.box-primary{
border-bottom-color:#fae4c8;
border-left-color:#fae4c8;
border-right-color:#fae4c8;
border-top-color:#fae4c8;
}

.shiny-notification{
 position: fixed;
 top: 33%;
 left: 33%;
 right: 33%;
 color: blue;
 background-color: white;
}

#functional_network1, #functional_network2, #functional_network3,
#literature_network1, #literature_network2, #literature_network3{
  border: 3px solid orange;
  border-radius: 25px;
  box-shadow: 10px 10px 5px grey; 
}
