*{
  font-family: "Segoe UI";
}

hr {
  border-top: 1px solid #383f4f;
}

td:last-child, #hovered{
  word-break: break-all;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #ffdfad;
  color: #222d32;
  height: 30px;
  width: 100%;
  margin-left: -15px;
	font-size: 18px;
}

[class*="fillAlternating-upset"] {
  fill: rgba(0, 0, 0, 0.05) !important;
}

[class*="fillNotMember-upset"] {
  fill: rgba(0, 0, 0, 0.05) !important;
}

.logo{
  height: 90px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  background-color: #ffd18a !important;
}

.navbar{
  background-color: #ffdfad !important;
}

.sidebar-menu{
  padding-top: 60px;
}

.sidebar-toggle{
  color: #222d32 !important;
  height: 90px !important;
  padding-top: 35px !important;
}

.content-wrapper{
  background-color: #fff9f0;
}

.btn-submit, .btn-submit:hover, .btn-submit:focus{
  color: #fff;
  background-color: #ff9d00;
}

.btn-submit:active{
  color: #fff !important;
  background-color: #ff9d00 !important;
}

.content{
  padding-bottom: 750px;
  overflow-x: scroll
}

.dt-buttons{
  padding-left: 10px;
  top: -5px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
  z-index: 1000;
  display: none;
}

#textSubmit, #rename{
  color: #fff;
  background-color: #158794;
}

#remove, #clear{
  color: #fff;
  background-color: #eb4310;
}

#stringEmbedded{
  overflow-x: auto;
  overflow-y: auto;
}

@media only screen and (max-width: 770px) {
  .sidebar-menu, .content-wrapper {
    padding-top: 100px;
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.content{
  padding-bottom: 750px;
}

.box.box-solid.box-primary>.box-header {
  color:#b56d00;
  background:#fae4c8
                    }

.box.box-solid.box-primary{
border-bottom-color:#fae4c8;
border-left-color:#fae4c8;
border-right-color:#fae4c8;
border-top-color:#fae4c8;
}
.shiny-notification{
 position: fixed;
 top: 33%;
 left: 33%;
 right: 33%;
 color: blue;
 background-color: white;
}

.vis-network{
  border: 3px solid orange;
  border-radius: 5px;
  box-shadow:20px 20px 10px grey; 
}
