* {
  font-family: "Segoe UI";
}

hr {
  border-top: 1px solid #383f4f;
}

td:last-child, #hoveredListName {
  word-break: break-all;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #ffee6e ;
  color: #222d32;
  height: 30px;
  width: 100%;
  margin-left: -15px;
  font-size: 18px;
}

caption {
  text-align: center;
  font-size: 20px;
  background-color: #2998b1;
  color: white;
}

[class*="fillAlternating-upset"] {
  fill: rgba(0, 0, 0, 0.05) !important;
}

[class*="fillNotMember-upset"] {
  fill: rgba(0, 0, 0, 0.05) !important;
}

.modal-content {
  border-radius: 25px;
  text-align: center;
}

.datatables {
  margin-top: 15px;
}

.dataTable > caption {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;;
}

.toolTabs > .tabbable > .nav-tabs {
  font-weight: bold;
  font-size: 20px;
  border-bottom: 3px solid FireBrick;;
}

.toolTabs > .tabbable > .nav-tabs > li {
  margin-bottom: -3px;
}

.toolTabs > .tabbable > .nav-tabs > li > a {
  margin: 0;
  border: 0;
}

.toolTabs > .tabbable > .nav-tabs > .active {
  border: 3px solid FireBrick;
  border-bottom: none;
}


.logo {
  height: 90px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  background-color: #ffee6e  !important;
}

.navbar {
  background-color: #ffee6e  !important;
}

.sidebar-menu {
  padding-top: 60px;
}

.sidebar-toggle {
  color: #222d32 !important;
  height: 90px !important;
  padding-top: 35px !important;
}

.sidebar-toggle:hover {
  background-color: #fffef0 !important;
}

.content-wrapper {
  background-color: #fffef0;
}

.submit_button, .submit_button:hover, .submit_button:focus {
  color: #fff;
  background-color: #ff9d00;
}

.submit_button:active {
  color: #fff !important;
  background-color: #ff9d00 !important;
}

.dt-buttons {
  padding-left: 10px;
  top: -5px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
  z-index: 1000;
  display: none;
}

.arena_button {
  background-color: white !important;
  height: 45px;
  width: 100%;
  max-width: 300px;
  text-align: right;
  background: url(../arena-logo.png) no-repeat 0;
}
.arena_button:focus, .arena_button:hover {
  background-color: #e6e6e6 !important;
}

.box {
  border-radius: 25px
}

.box-header {
  border-radius: 25px
}

.box-title {
  font-weight: bold;
}

.legend {
  font-size: 18px;
  background-color: white;
  font-weight: bold;
  text-align: center;
}

.enrichmentResultsDiv {
  border: 3px solid FireBrick;
  border-top: none;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 5px;
}

.networkOutput > .visNetwork {
  border: 3px solid orange;
  border-radius: 25px;
  box-shadow: 10px 10px 5px grey; 
}

.heatmapOutput > .plotly,
.barchartOutput > .plotly{
  height: auto !important;
}

.drawUp {
  margin-top: -30px;
}

.floatLeft {
  float: left;
  margin-right: 10px;
}

.inputControlRow {
  height: 500px;
}

.checkListDiv {
  padding: 5px;
  padding-left: 8px;
  z-index: 1;
  position: relative;
  background-color: white;
  border: 3px solid FireBrick;
  border-radius: 25px;
  line-height: 1.6;
  word-break: break-all;
  font-size: 18px;
  font-weight: bold;
}

.upsetMargin {
    height: 200px;
    margin-bottom: 200px;
}

input[type=checkbox] {
  margin-top: 10px;
}

label:has(> #selectAll) {
  border: 1px solid black;
  background-color: #ffee6e;
  padding-right: 5px;
}

#checkboxLists {
	width: 100%
}

#selectAll + span {
  font-weight: bold;
}

#textSubmit, #textmining_submit, #textmining_addList, #volcanoSubmit, #rename {
  color: #fff;
  background-color: #158794;
}

#remove, #textmining_clearText, #textmining_delete, #clear {
  color: #fff;
  background-color: #eb4310;
}

#volcanoSelectionInfo {
  font-weight: 500;
  font-style: italic;
  color: red;
  background-color: white;
  text-align: right;
}

#volcanoSelected {
  max-height: 500px;
  white-space: pre-wrap;
}

#string_viewer {
  background-color: white;
}

#stringEmbedded {
  overflow-x: auto;
  overflow-y: auto;
}

@media only screen and (max-width: 770px) {
  .sidebar-menu, .content-wrapper {
    padding-top: 100px;
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.content {
  padding-bottom: 50px;
}

.box.box-solid.box-primary>.box-header {
  color:#ffffff;
  background:#2998b1;
}

.box.box-solid.box-primary {
  border-bottom-color:#fae4c8;
  border-left-color:#fae4c8;
  border-right-color:#fae4c8;
  border-top-color:#fae4c8;
}

.shiny-notification {
 position: fixed;
 top: 33%;
 left: 33%;
 right: 33%;
 color: blue;
 background-color: white;
}
